.pilipa-terrace-top
  background: #fff
  padding: 0 16px
  height: 60px
  .icon
    cursor: pointer
    display: inline-block
    background-repeat: no-repeat
    background-size: 100% 100%
  .username
    font-size: 14px
    color: #333333
    cursor pointer
  .top-right
    line-height: 60px
    float: right
    &>span 
      vertical-align: middle
  .message
    position: relative
    background: url('../../assets/images/message.png') center center / 100% 100% no-repeat
    width: 14px
    height: 16px
    margin-right: 25px
    .point
      position: absolute
      right:-2px
      top: -2px
      display: inline-block
      width: 6px
      height: 6px
      border-radius: 50%
      background: red
  .im
    background: url('../../assets/images/imicon.png') center center / 100% 100% no-repeat
    width: 18px
    height: 16px
    margin-right: 25px
  .menu
    background: url('../../assets/images/user-menu.png') center center / 100% 100% no-repeat
    width: 14px
    height: 14px
    