.pilipa-loading-mask
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 999999
  user-select: none
  cursor: pointer
  transition: all 200ms
  background: rgba(255, 255, 255, .1)
  .pilipa-loading-content
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)
    margin: auto
    width: 173px
    height: 40px
    text-transform: uppercase
    font-size: 24px
    background: rgba(174, 174, 174, 1) url('../../images/u2966.png') center center / 59px 20px no-repeat
    border-radius: 4px
    span
      position: absolute
      left: 122px
      font-size: 16px
      line-height: 40px
      color: #FFFFFF
@keyframes foo
  10%
    top: -10px
  50%
    top:0
  100%
    top: 0
@keyframes bar
  10%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 1