@import '../../style/index.styl'
carousel-prefix = pilipa-prefix + '-carousel'
ul, li
  margin 0
  padding 0
button
  outline: 0;
  border: 0;
  background: 0 0;
.carousel
  img
    width: 100%;
    display: inline-block;
  .thumbs-wrapper
    position relative
    z-index 3
  .slider.animated
    transition: all .35s ease-in-out
.carousel.carousel-slider
  position: relative;
  margin: 0;
  overflow: hidden;
.slider-wrapper
  overflow: hidden;
  margin: auto;
  width: 100%;
  .slider
    position: relative;
    list-style: none;
    .slide
      min-width: 100%;
      margin: 0;
.axis-horizontal
  .slider
    display: flex;
    display: -webkit-flex;
    .slide
      flex-direction: column;
      flex-flow: column;
  .slider.nav
    width 100px
.control-arrow
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
.control-next.control-arrow
  right: 0;
.control-arrow
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -ms-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
  opacity: .4;
  position: absolute;
  z-index: 2;
  font-family: m4d-icons;
  background: 0 0;
  border: 0;
  cursor: pointer;
.thumbs
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  position: relative;
  list-style: none;
  white-space: nowrap;
  .thumb
    -webkit-transition: border .15s ease-in;
    -moz-transition: border .15s ease-in;
    -ms-transition: border .15s ease-in;
    -o-transition: border .15s ease-in;
    transition: border .15s ease-in;
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px;
    img
      vertical-align top
.thumb.selected, .thumb:hover
  border: 3px solid #333;
  padding: 2px;

