@import '../../style/index.styl'
form-prefix = pilipa-prefix + '-form'
form-item-prefix = form-prefix + '-item'


.{form-prefix}-item
  display inline-block
  margin-bottom 25px

for row in 1 2 3 4 5
  .{form-item-prefix}-column-{row}
    .{form-item-prefix}
      width (1/row*100)%
.{form-prefix}-column-2
  .{form-prefix}-item
    width 50%
    margin-right 0
.{form-prefix}-column-1
  .{form-prefix}-item
    width 100%
    margin-right 0
.{form-prefix}-column-3
  .{form-prefix}-item
    width 33.33%
    margin-right 0
.{form-prefix}-item
  position relative
  & > .{form-item-prefix}-label
    text-align right
    box-sizing border-box
  .{form-item-prefix}-required:before
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
  .{form-item-prefix}-control-wrapper
    &>span
      vertical-align middle
      input[type=checkbox], input[type=radio]
        vertical-align middle
    .{form-item-prefix}-explain
      transition: color .15s cubic-bezier(.215,.61,.355,1);
      margin-top: -2px;
  .has-error
    *
      border 1px solid #f5222d
    .{form-item-prefix}-explain
      color #f5222d
      border none
      position absolute
      bottom -22px
  .{form-item-prefix}-control-wrapper,
  & > .{form-item-prefix}-label
    font-size 14px
    display inline-block
    vertical-align middle
    *
      box-sizing border-box
    .pilipa-dropdown
      height 32px
for row in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
  .col-{row}
    width (row/24*100)%
