.pilipa-terrace-left
  height: 100%
  .ant-layout-sider-children
    display: flex
    flex-direction: column
  .menu
    overflow-x: hidden
    overflow-y scroll
    height: 100%
    .ant-menu
      .ant-menu-item-selected
        background: none
        span
          color: #E84845
  .top
    flex: 0 0 80px
    overflow-y: scroll
    .logo
      width: 100px
      height: 46.8px
      background: url('../../assets/images/logo.png') 100% 100% no-repeat
      margin: 20px auto auto 20px
      cursor: pointer
  .menu-icon
    width: 14px
    height: 14px
    display: inline-block
    background-size: 100% 100%!important
    background-repeat: no-repeat;
    background-position: center center
    margin-right: 10px
    vertical-align: middle
    &.menu-icon-bussiness
      background: url('../../assets/images/menu-icon-bussiness.png')
    &.menu-icon-open
      background: url('../../assets/images/menu-icon-open.png')
    &.menu-icon-customer
      background: url('../../assets/images/menu-icon-customer.png')
    &.menu-icon-sign
      background: url('../../assets/images/menu-icon-sign.png')
    &.menu-icon-set
      background: url('../../assets/images/menu-icon-set.png')
    &.menu-icon-center
      background: url('../../assets/images/menu-icon-center.png')
    &.menu-icon-organ
      background: url('../../assets/images/menu-icon-organ.png')
    &.menu-icon-user
      background: url('../../assets/images/menu-icon-user.png')
    &.menu-icon-worker
      background: url('../../assets/images/menu-icon-worker.png')
    &.menu-icon-message
      background: url('../../assets/images/menu-icon-message.png')
    &.menu-icon-task
      background: url('../../assets/images/menu-icon-task.png')
    &.menu-icon-tasktpl
      background: url('../../assets/images/menu-icon-tasktpl.png')
    &.menu-icon-perform
      background: url('../../assets/images/menu-icon-perform.png')
    &.menu-icon-data
      background: url('../../assets/images/menu-icon-data.png')
    &.menu-icon-configure
      background: url('../../assets/images/menu-icon-configure.png')
    &.menu-icon-log
      background: url('../../assets/images/menu-icon-log.png')