html
  height: 100%
  width: 100%
  body
    font-family: '微软雅黑', 'Microsoft YaHei'
    font-size: 12px
    height: 100%
    width: 100%
    ul 
      list-style none
      margin: 0
      padding: 0
    #root
      height: 100%
      width: 100%
    .fl
      float: left
    .fr
      float: right
    .ml5
      margin-left: 5px
    .ml10
      margin-left 10px
    .mr5
      margin-right 5px
    .mr10
      margin-right 10px
    .mr20
      margin-right: 20px
    .mt5
      margin-top: 5px
    .mt10
      margin-top: 10px
    .mt12
      margin-top 12px
    .mt20
      margin-top 20px
    .mt40
      margin-top 40px
    .mr40
      margin-right 40px
    .mb5
      margin-bottom: 5px
    .mb10
      margin-bottom: 10px
    .mb12
      margin-bottom 12px
    .icon
      cursor pointer
      display: inline-block
      background-repeat: no-repeat
      background-size: 100% 100%
    .font14
      font-size: 14px
    .font18
      font-size: 18px
    .text-right
      text-align: right
    .text-center
      text-align: center
    .text-right
      text-align: right
    .href
      cursor pointer
      color: #1890FF!important
    .disabled
      cursor: not-allowed
    .inline-block
      display: inline-block
    .clear
      &:after
        content: ''
        display: block
        clear: both
    .fa
      color: #999
      cursor: pointer
    .middle
      vertical-align: middle
